# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
.open-next/
out/

# env
.dev.vars
.env
.env*.local

# cloudflare
.wrangler/
worker-configuration.d.ts
cloudflare-env.d.ts

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts

# test
coverage/
